{% load static %}
{% include 'base.html' %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Dispensaire</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Playfair+Display:wght@400;500;600&display=swap" rel="stylesheet"> 

        <!-- Icon Font Stylesheet -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="{%  static 'lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

        <!-- Customized Bootstrap Stylesheet -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
       
        <!-- Template Stylesheet -->
        <link href="{% static 'css/style.css'%}" rel="stylesheet">
      
    </head>

    <body>




        <!-- Topbar Start -->
        <div class="container-fluid bg-dark px-5 d-none d-lg-block">
            <div class="row gx-0 align-items-center" style="height: 45px;">
                <div class="col-lg-8 text-center text-lg-start mb-lg-0">
                    <div class="d-flex flex-wrap">
                        <a href="https://www.google.com/maps/place/ESPA+Vontovorona/@-18.9705375,42.5464297,7z/data=!4m10!1m2!2m1!1sEcole+Supérieure+Polytechnique+d'Antananarivo!3m6!1s0x21fa8238a95a8965:0xe11f2e914a20ec99!8m2!3d-18.9705375!4d47.4243594!15sCi5FY29sZSBTdXDDqXJpZXVyZSBQb2x5dGVjaG5pcXVlIGQnQW50YW5hbmFyaXZvkgEKdW5pdmVyc2l0eeABAA!16s%2Fg%2F1tkn4sq9?entry=ttu" class="text-light me-4"><i class="fas fa-map-marker-alt text-primary me-2"></i>Localisation</a>
                        <a href="tel:+261342539308" class="text-light me-4"><i class="fas fa-phone-alt text-primary me-2"></i>+261342539308</a>
                        <a href="mailto:mamilovaramandimbiarinaivo@gmail.com" class="text-light me-0"><i class="fas fa-envelope text-primary me-2"></i>mamilovaramandimbiarinaivo@gmail.com</a>
                    </div>
                </div>
                <div class="col-lg-4 text-center text-lg-end">
                    <div class="d-flex align-items-center justify-content-end">
                        <a href="https://web.facebook.com/photo/?fbid=1513352746066080&set=a.104762166925152&__tn__=%3C" class="btn btn-light btn-square border rounded-circle nav-fill me-3"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="btn btn-light btn-square border rounded-circle nav-fill me-3"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Topbar End -->


        <!-- Navbar & Hero Start -->
        <div class="container-fluid position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-light bg-white px-4 px-lg-5 py-3 py-lg-0">
                <a href="{% url 'index' %}" class="navbar-brand p-0">
                    <h1 class="text-primary m-0"><i class="fas fa-star-of-life me-3"></i>Dispensaire TRM</h1>
                    <!-- <img src="img/logo.png" alt="Logo"> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0">
                        <a href="{% url 'index'%}" class="nav-item nav-link active">Acceuil</a>
                        <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
                        {% if not request.user.is_staff %}
                        <a href="{% url 'login' %}" class="nav-item nav-link">LOGIN</a>
                        {% endif%}

                        {% if request.user.is_staff %}
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Patient</a>
                            <div class="dropdown-menu m-0">
                                <a href="{% url 'listpatient' %}" class="dropdown-item">Liste Patient</a>
                                <a href="{% url 'ajout_patient' %}" class="dropdown-item">Ajout Patient</a>
                            </div>
                        </div>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Consultation</a>
                            <div class="dropdown-menu m-0">
                                <a href="{% url 'listconsultation' %}" class="dropdown-item">Liste Consultation</a>
                                <a href="{% url 'ajout_consultation' %}" class="dropdown-item">Ajout Consultation</a>
                            </div>
                        </div>
                        <a href="{% url 'logout_admin'%}" class="nav-item nav-link" >Logout</a>
                        {% endif %}

                    <!-- </div>
                    <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 flex-wrap flex-sm-shrink-0">Login</a>
                </div> -->
            </nav>
            </div>


            <!-- Carousel Start -->
            <div class="header-carousel owl-carousel">
                <div class="header-carousel-item">
                    <img src="{% static 'img/carousel-1.jpg' %}" class="img-fluid w-100" alt="Image">
                    <div class="carousel-caption">
                        <div class="carousel-caption-content p-3">
                            <h5 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">Bienvenue dans notre page</h5>
                            <h1 class="display-1 text-capitalize text-white mb-4">Dispensaire TRM</h1>
                            <p class="mb-5 fs-5">" Nous somme ravis de prendre soin de vous en cas de besoin"</p>
                        </div>
                    </div>
                </div>
                <div class="header-carousel-item">
                    <img src="{% static 'img/carousel-2.jpg'' %}" class="img-fluid w-100" alt="Image">
                    <div class="carousel-caption">
                        <div class="carousel-caption-content p-3">
                            <h5 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">Bienvenue dans notre page</h5>
                            <h1 class="display-1 text-capitalize text-white mb-4">Dispensaire TRM</h1>
                            <p class="mb-5 fs-5 animated slideInDown"> "Nous somme ravis de prendre soin de vous en cas de besoin"</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Carousel End -->
        
        <!-- Navbar & Hero End -->


        <!-- Services Start -->
        <div class="container-fluid service py-5">
            <div class="container py-5">
                <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="sub-style">
                        <h4 class="sub-title px-3 mb-0">Quel est notre devoir?</h4>
                    </div>
                    <h1 class="display-3 mb-4">Notre premier devoir est de garder votre corps loin du maladie </h1>
                    <p class="mb-0"> beaucoup son les services qu'on y trouve dans notre commune </p>
                </div>
                <div class="row g-4 justify-content-center">
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item rounded">
                           <div class="service-img rounded-top">
                                <img src="{% static 'img/service-5.jpg' %}" class="img-fluid rounded-top w-100" alt="">
                           </div>
                            <div class="service-content rounded-bottom bg-light p-4">
                                <div class="service-content-inner">
                                    <h5 class="mb-4">Dispensaire TRM</h5>
                                    <p class="mb-4">Votre Hygiène est notre priorité</p>
                                    <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2">Plus d'Info</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item rounded">
                           <div class="service-img rounded-top">
                                <img src="{% static 'img/service-7.jpg' %}" class="img-fluid rounded-top w-100" alt="">
                           </div>
                            <div class="service-content rounded-bottom bg-light p-4">
                                <div class="service-content-inner">
                                    <h5 class="mb-4">Dispensaire TRM</h5>
                                    <p class="mb-4">Votre Hygiène est notre priorité </p>
                                    <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2">Plus d'Info</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="service-item rounded">
                           <div class="service-img rounded-top">
                                <img src="{% static 'img/service-8.jpg' %}" class="img-fluid rounded-top w-100" alt="">
                           </div>
                            <div class="service-content rounded-bottom bg-light p-4">
                                <div class="service-content-inner">
                                    <h5 class="mb-4">Dispensaire TRM</h5>
                                    <p class="mb-4">Votre Hygiène est notre priorité </p>
                                    <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2">Plus d'Info</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="service-item rounded">
                           <div class="service-img rounded-top">
                                <img src="{% static 'img/service-6.jpg' %}" class="img-fluid rounded-top w-100" alt="">
                           </div>
                            <div class="service-content rounded-bottom bg-light p-4">
                                <div class="service-content-inner">
                                    <h5 class="mb-4">Dispensaire TRM</h5>
                                    <p class="mb-4">Votre Hygiène est notre priorité</p>
                                    <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2">Plus d'Info</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item rounded">
                           <div class="service-img rounded-top">
                                <img src="{% static 'img/service-5.jpg' %}" class="img-fluid rounded-top w-100" alt="">
                           </div>
                            <div class="service-content rounded-bottom bg-light p-4">
                                <div class="service-content-inner">
                                    <h5 class="mb-4">Dispensaire TRM</h5>
                                    <p class="mb-4">Votre Hygiène est notre priorité</p>
                                    <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item rounded">
                           <div class="service-img rounded-top">
                                <img src="{% static 'img/service-7.jpg' %}" class="img-fluid rounded-top w-100" alt="">
                           </div>
                            <div class="service-content rounded-bottom bg-light p-4">
                                <div class="service-content-inner">
                                    <h5 class="mb-4">Dispensaire TRM</h5>
                                    <p class="mb-4">Votre Hygiène est notre priorité</p>
                                    <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2">Plus d'Info</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="service-item rounded">
                           <div class="service-img rounded-top">
                                <img src="{% static 'img/service-8.jpg' %}" class="img-fluid rounded-top w-100" alt="">
                           </div>
                            <div class="service-content rounded-bottom bg-light p-4">
                                <div class="service-content-inner">
                                    <h5 class="mb-4">Dispensaire TRM</h5>
                                    <p class="mb-4">Votre Hygiène est notre priorité</p>
                                    <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2">Plus d'Info</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="service-item rounded">
                           <div class="service-img rounded-top">
                                <img src="{% static 'img/service-6.jpg' %}" class="img-fluid rounded-top w-100" alt="">
                           </div>
                            <div class="service-content rounded-bottom bg-light p-4">
                                <div class="service-content-inner">
                                    <h5 class="mb-4">Dispensaire TRM</h5>
                                    <p class="mb-4">Votre Hygiène est notre priorité</p>
                                    <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.2s">
                        <a class="btn btn-primary rounded-pill text-white py-3 px-5" href="#">Plus d'info</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Services End -->


        <!-- About Start -->
        <div class="container-fluid about bg-light py-5">
            <div class="container py-5">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-5 wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="about-img pb-5 ps-5">
                            <img src="{% static 'img/image.png' %}" class="img-fluid rounded w-100" style="object-fit: cover;" alt="Image">
                        </div>
                    </div>
                    <div class="col-lg-7 wow fadeInRight" data-wow-delay="0.4s">
                        <div class="section-title text-start mb-5">
                            <h4 class="sub-title pe-3 mb-0">Hygiène </h4>
                            <h1 class="display-3 mb-4">Maintient du propreter pour avoir un Hygiène sein</h1>
                            <p class="mb-4">C'est toujour dans le proger du Dispensaire de conseiller de tout netoyer  pour maintenir la propreter,la propretée est une très grande defie pour avoir une corps sein donc :</p>
                            <div class="mb-4">
                                <p class="text-secondary"><i class="fa fa-check text-primary me-2"></i> Metter votre decher dans les poubelles</p>
                                <p class="text-secondary"><i class="fa fa-check text-primary me-2"></i> Ne fais pas votre besoin au coin des routes</p>
                                <p class="text-secondary"><i class="fa fa-check text-primary me-2"></i> Nettoyer votre corps </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

   


        <!-- Testimonial Start -->
        <div class="container-fluid testimonial py-5 wow zoomInDown" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="section-title mb-5">
                    <div class="sub-style">
                        <h4 class="sub-title text-white px-3 mb-0">Dirigeant</h4>
                    </div>
                    <h1 class="display-3 mb-4">Le message de notre Docteur</h1>
                </div>
                <div class="testimonial-carousel owl-carousel">
                    <div class="testimonial-item">
                        <div class="testimonial-inner p-5">
                            <div class="testimonial-inner-img mb-4">
                                <img src="{% static 'img/team-1.jpg' %}" class="img-fluid rounded-circle" alt="">
                            </div>
                            <p class="text-white fs-7">"EN CAS DE MALADIE VEUILLEZ TOUJOURS CONSULTER UN DOCTEUR POUR BIEN S'ASSURER DU TRAITEMENT"
                 
                            </p>
                            <div class="text-center">
                                <h5 class="mb-2">THEDDY BODOLAHY</h5>
                                <p class="mb-2 text-white-50">CUR Vontovorona</p>
                                <div class="d-flex justify-content-center">
                                    <i class="fas fa-star text-secondary"></i>
                                    <i class="fas fa-star text-secondary"></i>
                                    <i class="fas fa-star text-secondary"></i>
                                    <i class="fas fa-star text-secondary"></i>
                                    <i class="fas fa-star text-secondary"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->


        <!-- Footer Start -->
        <div class="container-fluid footer py-5 wow fadeIn" data-wow-delay="0.2s">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item d-flex flex-column">
                            <h4 class="text-white mb-4"><i class="fas fa-star-of-life me-3"></i>Dispensaire TRM</h4>
                            <p>"Nous somme ravis de prendre soin de vous en cas de besoin"
                            </p>
                            <div class="d-flex align-items-center">
                                <i class="fas fa-share fa-2x text-white me-2"></i>
                                <a class="btn-square btn btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn-square btn btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item d-flex flex-column">
                            <h4 class="mb-4 text-white">Des Liens</h4>
                            <a href="#"><i class="fas fa-angle-right me-2"></i> À propos</a>
                            <a href="#"><i class="fas fa-angle-right me-2"></i> Contact </a>
                        </div>
                    </div>
                    {% if request.user.is_staff %}
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item d-flex flex-column">
                            <h4 class="mb-4 text-white">Patient</h4>
                            <a href="#"><i class="fas fa-angle-right me-2"></i>Liste Patient</a>
                            <a href="#"><i class="fas fa-angle-right me-2"></i>Ajout Patient </a>
                            <a href="#"><i class="fas fa-angle-right me-2"></i>Consultation par un patient </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item d-flex flex-column">
                            <h4 class="mb-4 text-white">Consultation</h4>
                            <a href="#"><i class="fas fa-angle-right me-2"></i>Liste Consultation</a>
                            <a href="#"><i class="fas fa-angle-right me-2"></i>Ajout Consulation </a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- Footer End -->
        
       

        <!-- Back to Top -->
        <a href="#" class="btn btn-primary btn-lg-square back-to-top"><i class="fa fa-arrow-up"></i></a>   

        
        <!-- JavaScript Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'lib/wow/wow.min.js' %}"></script>
        <script src="{% static 'lib/easing/easing.min.js' %}"></script>
        <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
        <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
        

        <!-- Template Javascript -->
        <script src="{% static 'js/main.js' %}"></script>
        
    </body>

</html>